<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="GSBgirls" connectionString="metadata=res://*/mdlGSBgirls.csdl|res://*/mdlGSBgirls.ssdl|res://*/mdlGSBgirls.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.50;initial catalog=GSB_girls;persist security info=True;user id=SQLChtayti;password=azerty131098;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>